[flake8]
extend-select = CE101
ignore = D200, D202, D401, D105, W503, W504, E731, E131, E251
per-file-ignores =
    */__init__.py: F401, F403
max-line-length = 80
count = true
exclude =
    .git,
    __pycache__,
    build,
    docs/_build,
    dist


